{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Certificates{% endblock title %}
{% block small-title %}Upload a key container{% endblock small-title %}
{% block html-head %}
    <script src="{% static 'certificates/fileinput.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'certificates/fileinput.min.css' %}">
    <link href="{% static 'certificates/certificates.css' %}" rel="stylesheet">

{% endblock html-head %}
{% block content %}
    <div class="row">
        <div class="col-xs-1 col-md-1 col-md-offset-1">
            <a class="btn btn-default" href="{% url "certificates:overview" %}">
                <i class="fa fa-chevron-left fa-lg"></i> Back</a>
        </div>
    </div>
    {% include "certificates/widgets/AddCert.html" %}
{% endblock content %}