{% extends "base.html" %}
{% load i18n %}
{% block title %}Certificates{% endblock title %}
{% block small-title %}Details{% endblock small-title %}
{% block content %}
    <script>
        function removeBtnClicked(form) {
            jform = $(form);
            btn = jform.find('.remove-btn');
            if (btn.hasClass('btn-default')) {
                btn.removeClass('btn-default').addClass('btn-danger');
                btn.find('.removebtn-text').text('Are you sure?');
                return false;
            } else {
                return true;
            }
        }
    </script>
    <div class="container" id="certificate-detail">
        <div class="row">
            {% if certificate %}
                <div class="col-lg-1"></div>
                <div class="col-sm-12 col-md-6 col-lg-4 x509-edit">
                    <div class="row">
                        {% include "certificates/widgets/PublicKey_view.html" with x509=certificate %}
                    </div>
                    {% if not readonly %}
                        <div class="row text-center">
                            <form action="" method="POST" onsubmit="return removeBtnClicked(this)">
                                {% csrf_token %}
                            <span title="Remove certificate">
                                <button type="submit" class="btn btn-default remove-btn" name="remove_cert"
                                        id="remove_cert-btn">
                                    <span class="glyphicon glyphicon-remove"></span> <span class="removebtn-text">Remove certificate</span>
                                </button>
                            </span>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if private %}
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-sm-12 col-md-5 col-lg-4 private-edit">
                    <div class="row">
                        {% include "certificates/widgets/PrivateKey_view.html" with private=private %}
                    </div>
                    <div class="row text-center">
                        <form action="" method="POST" onsubmit="return removeBtnClicked(this)">
                            {% csrf_token %}
                                <span title="Remove private key">
                                    <button type="submit" class="btn btn-default remove-btn" name="remove_privatekey"
                                            id="remove_privatekey-btn">
                                        <span class="glyphicon glyphicon-remove"></span> <span class="removebtn-text">Remove private key</span>
                                    </button>
                                </span>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}