<div class="col-sm-8 col-xs-10">
    <select class="selectpicker certificateselect" data-live-search="true"
            name="{{ certificate.name }}"
            id="id_{{ certificate.name }}" data-show-subtext="True">
        {% if certificate.value == None or certificate.value == '-1' %}
            <option value="-1" selected>Nothing selected!</option>
        {% endif %}
        {% for choise in certificate.field.queryset %}
            <option value="{{ choise.id }}"
                    {% if certificate.value|slugify == choise.id|slugify %}
                    selected{% endif %}
                    data-subtext="{{ choise }}">{{ choise.subject.cname }}</option>
        {% endfor %}
    </select>
    {% include "connections/forms/../widgets/errormsg.html" with field=certificate %}
</div>