<div class="row ca_picker">
    <label class="control-label col-sm-3">{{ certificate.label }}</label>
    <div class="col-sm-9">
        <select class="selectpicker " data-live-search="true"
                name="{{ certificate.name }}"
                id="id_{{ certificate.name }}" data-show-subtext="True">
            {% if certificate.value == None or certificate.value == '-1' %}
                <option value="-1" selected>Nothing selected!</option>
            {% endif %}
            {% for choise in certificate.field.queryset %}
                <option value="{{ choise.id }}"
                        {% if certificate.value|slugify == choise.id|slugify %}
                        selected{% endif %}
                        data-subtext="{{ choise }}">{{ choise.subject.cname }}</option>
            {% endfor %}
        </select>
        {% include "connections/forms/errormsg.html" with field=certificate %}
    </div>
</div>
<div class="row identity_picker">
    <label class="control-label col-sm-3">{{ identity.label }}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="{{ identity.name }}" id="{{ identity.name }}"
               {% if certificate.value == None or certificate.value == '-1' %}disabled{% endif %}
                placeholder="Hostname or IP" value="{{ identity.value }}"/>
        {% include "connections/forms/errormsg.html" with field=identity %}
    </div>
</div>
<script>
    //Take the server as identity if identity is empty
    $("#id_{{ certificate.name }}").change(function () {
        var gateway = $("#gateway").val();
        var identity = $("#{{ identity.name }}");
        if (gateway !== '') {
            if (identity.val() === '') {
                identity.val(gateway);
            }
        }
        identity.prop('disabled', false);
    });
</script>
