{% extends "connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    {% include "connections/forms/UserPassword.html" with username=form.username password=form.password %}
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p>Choose your certificate which authenticates you. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p>Choose the ca certificate which authenticates the server.</p>
        </div>
    </div>
    {% include "connections/forms/CaPicker.html" with certificate=form.certificate_ca identity=form.identity_ca is_server_identity=form.is_server_identity %}
    <hr>
{% endblock form_content %}