{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>Configuration</h1>
    {% if user.is_authenticated %}
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="configuration" class="btn black-background white"><span
                            class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}