{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}Connection{% endblock title %}
{% block small-title %}Overview{% endblock small-title %}
{% block content %}
    <div id="connection-overview">
        <div id="add-btn">
        <span title="Add a new connection">
            <a href="{% url "connections:connections_choose" %}" id="add" class="btn btn-orange btn-lg pull-right">
                <span class="glyphicon glyphicon-plus"></span> Add
            </a>
        </span>
        </div>
        <div id="con-table">
            {% if table %}
                <div class="col-xs-12">
                    {% render_table table 'certificates/widgets/table.html' %}
                </div>
            {% else %}
                <h3 id="no_certs_to_show">No connections to show</h3>
                <p>Feel free to add a new connection with the orange Add button on the right side.</p>
            {% endif %}
        </div>
        <div class="row form-row" style="margin-top: 350px;">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <h4>Logs</h4>
                <div class="bs-callout bs-callout-default" style="margin: 0; padding: 0;">
                    <div id="div-table-content">
                        <table id="log_table" class="table table-striped">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
