{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <dl class="dl-horizontal">
        <dt>Method</dt><dd>{{ form.model.choice_name }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ form.profile.value }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>IKE Version</dt>
        <dd>{{ form.version.value }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Server Address</dt>
        {% if not form.local_addrs.value %}
            <dd>-</dd>
        {% else %}
            <dd>{{ form.local_addrs.value }}</dd>
        {% endif %}
    </dl>

    <dl class="dl-horizontal">
        <dt>Remote Address</dt>
        {% if not form.remote_addrs.value %}
            <dd>-</dd>
        {% else %}
            <dd>{{ form.remote_addrs.value }}</dd>
        {% endif %}
    </dl>

    <dl class="dl-horizontal">
        <dt>Pool Name</dt>
        <dd>{{ form.initial.pool.poolname }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Send Certificate Request</dt>
        <dd>{{ form.send_certreq.value }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Start Action</dt>
        {% if not form.start_action.value %}
            <dd>-</dd>
        {% else %}
            <dd>{{ form.start_action.value }}</dd>
        {% endif %}
    </dl>

    {% for key, value in form.remote_auth.field.choices %}
        {% if form.remote_auth.value|slugify == key|slugify %}
            <dl class="dl-horizontal">
                <dt>Remote Authentication</dt>
                <dd>{{ value }}</dd>
            </dl>
        {% endif %}
    {% endfor %}

    {% if form.connection_type == 'site_to_site' or connection.connection_type == 'site_to_site' %}
        <dl class="dl-horizontal">
            <dt>Active initiator</dt>
            <dd>{{ form.initiate.value }}</dd>
        </dl>
    {% endif %}

    {% for choise in form.certificate.field.queryset %}
        {% if form.certificate.value|slugify == choise.id|slugify %}
            <dl class="dl-horizontal">
                <dt>Certificate</dt>
                <dd>{{ choise }}</dd>
            </dl>
        {% endif %}
    {% endfor %}

    {% for value, identity_choice in form.identity.field.choices %}
        {% if form.identity.value|slugify == value|slugify %}
            <dl class="dl-horizontal">
                <dt>Identity</dt>
                <dd>{{ identity_choice }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Identity Type</dt>
                <dd>{{ identity_choice.type }}</dd>
            </dl>
        {% endif %}
    {% endfor %}

    {% for choise in form.certificate_ca.field.queryset %}
        {% if form.certificate_ca.value|slugify == choise.id|slugify %}
            <dl class="dl-horizontal">
                <dt>CA Certificate</dt>
                <dd>{{ choise }}</dd>
            </dl>
        {% endif %}
    {% endfor %}

    {% if form.identity_ca.value %}
        <dl class="dl-horizontal">
            <dt>CA Identity</dt>
            <dd>{{ form.identity_ca.value }}</dd>
        </dl>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>Local traffic selector</dt>
        <dd>{{ form.local_ts.value }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Remote traffic selector</dt>
        {% if not form.remote_ts.value %}
            <dd>-</dd>
        {% else %}
            <dd>{{ form.remote_ts.value }}</dd>
        {% endif %}
    </dl>
</body>
</html>