body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.black-background {
    background-color: #333;
}

.white-background {
    background-color: white;
    border-color: black;
}

.white {
    color: #ffffff;
}

.black {
    color: #333;
}
.btn-orange{
    color: #fff;
    background-color: #DE9B33;
    border-color: #AA7539;
}
.inline-form{
    display: inline-block
}

#logout_button{
    float: right;
}

#certificate-overview > #header {
    margin-bottom: 20px;
}

#certificate-overview > #search {
    margin-bottom: 10px;
    margin-top: 30px;
}
#certificate-overview > #header > #add-btn {
    padding-right: 15px;
}
#certificate-add .form-row {
    margin-bottom: 10px;
    margin-top: 5px;
}
#certificate-add #upload-area {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
}
#certificate-add #upload-panel {
    margin-top: 20px;
}
.certificate-widget h3{
    margin-top: 10px;
    margin-bottom: 20px;
}
.certificate-privatekey h3{
    margin-top: 10px;
    margin-bottom: 30px;
}

#certificate-detail .x509-edit {
    bottom: auto;
    top: 20px;
    margin-bottom: 50px;
}
#certificate-detail .private-edit{
    bottom: auto;
    top: 20px;
    margin-bottom: 50px;
}
#certificate-detail table tr td{
    padding: 5px;
}
#certificate-detail table{
    margin-bottom: 0px;
}
#certificate-detail #cert-header{
    margin-bottom: 30px;
    margin-top: 30px;
}
#certificate-added #nav-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
#certificate-overview .pagination-form {
    display: inline-block;
}
#certificate-overview .pagination li {
    display: inline-block;
}
#certificate-overview .editremove-cell{
    width: 120px;
}
#connection-overview #add {
    margin-bottom: 10px;
}

#certificate-overview td a {
   display: block;
   padding: 2px;
}

#connection-overview td a.profilelink {
    display: block;
    padding: 5px;
}
#connection-overview td .namelink {
   display: block;
   padding: 2px;
}






.title-area hr{
    margin-top: 10px;
    margin-bottom: 30px;
}

#pw_change{
    padding: 20px;
    padding-top: 0px;
}

#pw_change  h3{
    margin-top: 10px;
}

#pw_change  input{
    margin-bottom: 3px;
}

#pw_change #old_password{
    margin-bottom: 10px;
}

#pw_change  #password2{
    margin-bottom: 10px;
}
#pw_change #passwordrules{
    margin-top: 60px;
}

#main-page .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}


.popover{
    max-width: 300px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.my_alert {
  padding: 4px 14px 4px 14px;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}


#div-table-content {
    overflow:scroll;
    overflow:auto;
    height: 100px;
    font-size: 80%;"
}

