body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.black-background {
    background-color: #333;
}

.white-background {
    background-color: white;
    border-color: black;
}

.white {
    color: #ffffff;
}

.black {
    color: #333;
}
.btn-orange{
    color: #fff;
    background-color: #DE9B33;
    border-color: #AA7539;
}
.inline-form{
    display: inline-block
}

#logout_button{
    float: right;
}

#certificate-overview > #header {
    margin-bottom: 20px;
}

#certificate-overview > #search {
    margin-bottom: 10px;
    margin-top: 30px;
}
#certificate-overview > #header > #add-btn {
    padding-right: 15px;
}
#certificate-add .form-row {
    margin-bottom: 10px;
    margin-top: 5px;
}
#certificate-add #upload-area {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
}
#certificate-add #upload-panel {
    margin-top: 20px;
}
.certificate-widget h3{
    margin-top: 10px;
    margin-bottom: 20px;
}
.certificate-privatekey h3{
    margin-top: 10px;
    margin-bottom: 30px;
}

#certificate-detail .x509-edit {
    bottom: auto;
    top: 20px;
    margin-bottom: 50px;
}
#certificate-detail .private-edit{
    bottom: auto;
    top: 20px;
    margin-bottom: 50px;
}
#certificate-detail table tr td{
    padding: 5px;
}
#certificate-detail table{
    margin-bottom: 0px;
}
#certificate-detail #cert-header{
    margin-bottom: 30px;
    margin-top: 30px;
}
#certificate-added #nav-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
#certificate-overview .pagination-form {
    display: inline-block;
}
#certificate-overview .pagination li {
    display: inline-block;
}
#certificate-overview .editremove-cell{
    width: 120px;
}
#connection-overview #add {
    margin-bottom: 10px;
}

#certificate-overview td a {
   display: block;
   padding: 2px;
}


#connection-select-typ #wizard-nav{
    margin-bottom: 30px;
}
#connection-configuration{
    margin-top: 30px;
}
#connection-overview td a.profilelink {
    display: block;
    padding: 5px;
}
#connection-overview td .namelink {
   display: block;
   padding: 2px;
}
#connection-add .form-holder{
    padding:30px;
}
#connection-configuration .panel{
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#connection-configuration .panel h3{
    margin-bottom: 15px;
}
#connection-configuration .panel #row-gateway{
    padding-bottom: 20px;
}

#connection-configuration .form-Ike2CertificateForm #row-identity{
    padding-bottom: 20px;
}

#connection-configuration .form-Ike2EapCertificateForm #row-identity{
    padding-bottom: 20px;
}
#connection-configuration .form-Ike2EapCertificateForm #row-password{
    padding-bottom: 20px;
}

#connection-configuration .form-Ike2EapForm #row-password{
    padding-bottom: 20px;
}


.title-area hr{
    margin-top: 10px;
    margin-bottom: 30px;
}

#pw_change{
    padding: 20px;
    padding-top: 0px;
}

#pw_change  h3{
    margin-top: 10px;
}

#pw_change  input{
    margin-bottom: 3px;
}

#pw_change #old_password{
    margin-bottom: 10px;
}

#pw_change  #password2{
    margin-bottom: 10px;
}
#pw_change #passwordrules{
    margin-top: 60px;
}

#main-page .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

