$black: #333;
$nav-font-color-hover: #BABABA;
$nav-font-color: #EDEDED;

@font-face {
  font-family: 'strongUbuntu';
  src: url('../../static/fonts/Ubuntu-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../static/fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/Ubuntu-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../static/fonts/Ubuntu-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../static/fonts/Ubuntu-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: 200px;
    font-family: 'strongUbuntu', sans-serif;
  }
}

.container {
  height: 100%;
}

.content {
  padding-bottom: 60px;
  h1 {
    padding-top: 30px;
    padding-bottom: 12px;
  }
}

.title-area hr {
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 200px;
  color: #9D9D9D;
  background-color: #222529;
  vertical-align: middle;
  margin-top: 50px;
  a {
    color: #9D9D9D;
  }
  a:hover {
    color: #FFF;
  }
  .logo {
      display: inline-block;
    .fa {
      font-size: 3em;
      color: #EDEDED;
      color: #9D9D9D;
      margin-right: 12px;
      margin-left: 12px;
    }
    .fa:hover {
      color: #BABABA;
      color: #FFF;
    }
  }
  .copyright {
    margin-top: 50px;
  }
}

#login {
  margin-top: 50px;
  .panel {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    #submit {
      display: inline-block;
    }
  }
  #strongimg {
    text-align: center;
    img {
      width: 70%;
    }
  }
}

.table-container {
  width: 100%;
}

#pw_change {
  padding: 20px;
  padding-top: 0px;
  h3 {
    margin-top: 10px;
  }
  input {
    margin-bottom: 3px;
  }
  #old_password {
    margin-bottom: 10px;
  }
  #password2 {
    margin-bottom: 10px;
  }
  #passwordrules {
    margin-top: 60px;
  }
}

#main-page .jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse {
  background-color: #222529;
  .navbar-brand {
    color: $nav-font-color;
  }
  .navbar-brand:hover {
    color: $nav-font-color-hover;
  }
  .navbar-brand > img {
    display: inline-block;
  }
  .navbar-nav > li > a {
    color: $nav-font-color;
  }
  .navbar-nav > li > a:hover {
    color: $nav-font-color-hover;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.black-background {
  background-color: $black;
}

.white-background {
  background-color: white;
  border-color: black;
}

.white {
  color: #ffffff;
}

.black {
  color: $black;
}

.btn-orange {
  color: #fff;
  background-color: #DE9B33;
  border-color: #AA7539;
}

.inline-form {
  display: inline-block
}

.add_button {
  margin-bottom: 10px;
  margin-left: 10px;
}

#logout_button {
  float: right;
}

.question {
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
  color: #333;
}

#about {
  #plugins {
    padding: 10px;
    margin-bottom: 40px;
  }
}

.visible-mode {
  display:block !important;
}

.invisible-mode {
  display:none !important;
}

.hide-after-switch {
  display: None;
}