{% extends "base.html" %}
{% load i18n %}
{% load vici_checker %}
{% block title %}About{% endblock title %}
{% block content %}
    <div id="about">
        {% vici_reachable as reachable %}
        {% if reachable %}
            <div id="daemon_info" class="row">
                <div class="col-xs-12">
                    Daemon: {{ daemon }} <br>
                    Version: {{ version }} <br>
                    System name: {{ sysname }} <br>
                    Release: {{ release }} <br>
                    Machine: {{ machine }} <br>
                    <h2>Installed plugins</h2>
                    <p> The strongSwan distribution ships with an ever growing list of plugins. This allows us to add
                        extended and specialized features, but keep the core as small as possible.</p>
                    <div class="panel panel-default" id="plugin-panel">
                        <p>
                            {% for plugin in plugins %}
                                {{ plugin }}
                            {% endfor %}
                        </p>
                    </div>
                    <p>Have a look on all available <a target="_blank"
                                                       href="https://wiki.strongswan.org/projects/strongswan/wiki/Pluginlist">strongSwan plugins</a></p>

                </div>
            </div>
            <hr>
        {% else %}
            <h3>Can't display information without the vici interface.</h3>
        {% endif %}
    </div>
{% endblock %}