{% for key, val in table.pools.items %}
    {% if is_refresh == True or record.poolname == key %}
        <table>
            <tbody id="{{ key }}">
                {% if is_refresh != True %}
                <tr><td><b>Attribute:</b></td> <td> {{ record.attribute }}<br /></td></tr>
                <tr><td><b>Attributevalue(s):</b> </td> <td> {{ record.attributevalues }}<br /></td></tr>
                {% endif %}
                <tr><td><b>Nof addresses in pool:</b> </td> <td> {{ val.size }}<br /></td></tr>
                <tr><td><b>Virtual IP pool base address:</b> </td> <td> {{ val.base }}<br /></td></tr>
                <tr><td><b># of online:</b> </td> <td> {{ val.online }}<br /></td></tr>
                <tr><td><b># of offline:</b> </td> <td> {{ val.offline }}<br /></td></tr>
                <tr><td><b>Leases in {{ key }}:</b> </td> <td>
                    {% if val.leases %}
                        {%  for k, v in  val.leases.items %}
                            <tr><td>Address: </td> <td>{{ v.address }}<br /></td></tr>
                            <tr><td>Identity: </td> <td>{{ v.identity }}<br /></td></tr>
                            <tr><td>Status: </td> <td>{{ v.status }}<br /></td></tr>
                        {% endfor %}
                    {% else %}
                        No leases.
                    {% endif %}
                </td></tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}