<div id="submenu{{ record.poolname }}" class="collapsepool">
<a class='detail' data-trigger="focus" data-placement='above' title="{{ record.poolname }}" href='#' >Show details</a>
    <div id="popover_content_wrapper" style="display: none; width: 30px">
        <div>
                <b>Attribute:</b> {{ record.attribute }}<br />
                <b>Attributevalue(s):</b> {{ record.attributevalues }}<br />
                <b>Nof addresses in pool:</b> {{ size }}<br />
                <b>Virtual IP pool base addr:</b> {{ base }}<br />
                <b># of online:</b> {{ online }}<br />
                <b># of offline:</b> {{ offline }}<br />
                <b>Leases in pool:</b><br />
                    {% if leases %}
                        {%  for k, v in  leases.items %}
                        Address: {{ v.address }}<br />
                        Identity: {{ v.identity }}<br />
                        Status: {{ v.status }}<br />
                        {% endfor %}
                    {% else %}
                        No leases.
                    {% endif %}
        </div>
    </div>
</div>

{#--------------------old attempt with collapse-----------------#}

{#<div id="submenu{{ record.poolname }}" class="collapsepool">#}
{#    <a role="button" data-toggle="collapse" href="#collapse{{ record.poolname }}"#}
{#         class="accordion-toggle collapsed"></a>#}
{##}
{#        <td colspan="1"  class="hiddenRow">#}
{#            <div id="collapse{{ record.poolname }}" class="collapse">#}
{#                <h4>{{ record.poolname }}</h4>#}
{#                <b>Attribute:</b> {{ record.attribute }}<br />#}
{#                <b>Attributevalue(s):</b> {{ record.attributevalues }}<br />#}
{#                <b>Nof addresses in pool:</b> {{ size }}<br />#}
{#                <b>Virtual IP pool base addr:</b> {{ base }}<br />#}
{#                <b># of online:</b> {{ online }}<br />#}
{#                <b># of offline:</b> {{ offline }}<br />#}
{#                <b>Leases in pool:</b><br />#}
{#                    {% if leases %}#}
{#                        {%  for k, v in  leases.items %}#}
{#                        Address: {{ v.address }}<br />#}
{#                        Identity: {{ v.identity }}<br />#}
{#                        Status: {{ v.status }}<br />#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        No leases.#}
{#                    {% endif %}#}
{#            </div>#}
{#        </td>#}
{#</div>#}



<script>
$(document).ready(function(){
  $('.detail').popover({
    html : true,
    content: function() {
      return $('#popover_content_wrapper').html();
    }
  });
});

        $(document).ready(setInterval(function () { autoloadpage(); }, 6000) )
        function autoloadpage() {
        var poolname = {{ record.poolname }};
            $.ajax({
                url: "/pools",
                type: "GET",
                success: function() {
                    $("div#collapse"+poolname).html();
                }
            });
        }
</script>
