<div class="row secret_picker">
    <label class="control-label col-sm-3 col-xs-12">{{ form.secret.label }}</label>
    <div class="controls col-sm-8 col-xs-10">
        <select class="selectpicker" data-live-search="true"
                name="{{ form.secret.name }}"
                id="id_{{ form.secret.name }}" data-show-subtext="True">
            {% if form.secret.value == None or form.secret.value == '-1' %}
                <option value="-1" selected="selected">Nothing selected</option>
            {% endif %}
            {% for choise in form.secret.field.queryset %}
                <option value="{{ choise.id }}"
                    {% if form.secret.value|slugify == choise.id|slugify %}
                        selected="selected"
                    {% endif %}>
                    {{ choise }}
                </option>
            {% endfor %}
        </select>
        {% include "server_connections/forms/../widgets/errormsg.html" with field=form.secret %}
    </div>
    <div class="col-sm-1 col-xs-2">
        {% include "server_connections/widgets/QuestionPopover.html" with title="EAP secrets help" content="Select a certificate which authenticates the client." %}
    </div>
</div>