{% extends "server_connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row">
        <p class="col-xs-12">Local settings</p>
        <div class="col-xs-12">
            <p>Choose the certificate which authenticates the remote peer. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "server_connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}

    <hr>

    <div class="row">
        <p class="col-xs-12">Remote settings</p>
        <div class="col-xs-12">
            <p>Choose the certification authority (CA) certificate.</p>
        </div>
    </div>
    {% include "server_connections/forms/CaPicker.html" with form=form %}

    <hr>
{% endblock form_content %}