<span title="Turn connection on / off" xmlns="http://www.w3.org/1999/html">
    <div id="alert_{{ record.id }}" style='float: left;'></div>
    <div class="btn-toolbar">
        <form id="toggle_connection{{ record.id }}" action="{% url 'connections:toggle' %}">
            {% csrf_token %}
            <div id="spinner_place{{ record.id }}" style='float: left;'></div>
            <input type="hidden" name="id" value="{{ record.id }}">
            <input type="hidden" name="connection_type" value="{{ record.subclass.get_typ }}">
            <div id="button_div{{ record.id }}">
                <input id="toggle_input{{ record.id }}" type="checkbox" data-toggle="toggle"
                       data-onstyle="success"
                       data-offstyle="default"
                       {% if record.state == 'ESTABLISHED' %}checked{% endif %} >
            </div>
        </form>
    </div>
</span>
{% if record.state == 'CONNECTING' %}
    <script type="text/javascript"> $(function() {lock({{ record.id }}, '{{ csrf_token }}');});</script>
{% endif %}
{% if record.state == 'ESTABLISHED' %}
    <script type="text/javascript"> $(function() {showConnectionInfoRow({{ record.id }}, '{{ csrf_token }}');});</script>
{% endif %}
{% if record.state == 'DOWN' %}
    <script type="text/javascript"> $(function() {hideConnectionInfoRow({{ record.id }});});</script>
{% endif %}

