{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Vici interface <small>Add connection</small></h1>
            </div>
        </div>

        <div>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'vici:addcon' %}" method="post">
                {% csrf_token %}
                <textarea name="config" class="form-control" rows="7" placeholder="Your strongswan config" required></textarea>
                <input class="btn btn-default" type="submit" value="Add" />
            </form>
        </div>

    </div>
{% endblock content %}