<a href="{% url "connections:connection_create" %}" id="add" class="btn pull-right white-background black">
    <span class="glyphicon glyphicon-plus"></span>
</a>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Profile</th>
            <th>Remote</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        {% for connection in connections %}
            <tr>
                <td>{{ connection.profile }}</td>
                <td>{{ connection.remote }}</td>
                <td>
                    <div class="btn-toolbar">
                        <form id="toggle_connection" action="{% url 'connections:connection_toggle' %}"
                              style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ connection.id }}">
                            <input id="toggle_input{{ connection.id }}" type="checkbox" data-toggle="toggle" data-onstyle="success"
                                   data-offstyle="danger"
                                   {% if connection.state %}checked{% endif %} onclick="this.form.click()">
                        </form>
                        <div id ="alert_{{ connection.id }}" class="btn"></div>
                        <a href="{{ connection.delete }}" id="delete"
                           class="btn pull-right white-background black">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a href="{{ connection.edit }}" id="edit"
                           class="btn pull-right white-background black">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
