{% extends "base.html" %}
{% load i18n %}
{% load connections_extras %}
{% block content %}
    <h1>Configuration</h1>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls col-sm-10">
                        <input type="{{ field|field_type|slice:":-5" }}" class="form-control"
                               name="{{ field.name }}"
                               value="{{ field.value }}">
                        <p class="help-text">{{ field.help_text }} </p>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="save" id="configuration" class="btn black-background white"><span
                            class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}