.back-section {
  margin-bottom: 15px;
}

#connection-details {

  .form-holder {
    padding: 30px;
    .popover {
      max-width: 300px;
    }
  }
}

#connection-overview {
  #add {
    margin-bottom: 10px;
  }

  #log_panel {
    margin-top: 100px;
    .panel-body {
      padding: 0px;
      padding-left: 5px
    }
  }

  #log {
    #log-content {
      overflow: scroll;
      overflow: auto;
      height: 150px;
      .child {
        td {
          padding: 4px;
          font-size: 10px;
          p {
            margin: 0px;
          }
        }
        .timestamp {
          min-width: 105px;
        }
        .con_name {
          min-width: 55px;
        }
      }
    }
  }
  .table-container {
    $success-green: #dcf8c6;
    .connection-info-row div {
      display: inline-block;
    }
    table {
      .success td {
        background-color: $success-green;
      }
      td {
        padding-left: 5px;
      }
      td a.profilelink {
        display: block;
        padding: 5px;
      }
      td .namelink {
        display: block;
        padding: 2px;
      }
    }

    .glyphicon.spinning {
      animation: spin 1s infinite linear;
      -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
      from {
        transform: scale(1) rotate(0deg);
      }
      to {
        transform: scale(1) rotate(360deg);
      }
    }

    @-webkit-keyframes spin2 {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    .my_alert {
      padding: 4px 14px 4px 14px;
      margin-bottom: 0px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      background-color: #fcf8e3;
      border: 1px solid #fbeed5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #c09853;
      text-align: left;

    }
    #alert_style {
      width: -moz-calc(100% - 70px);
      width: -webkit-calc(100% - 70px);
      width: calc(100% - 70px);
      min-width: 100px;
    }
    .connection-info-span {
      padding-top: 0px;

    }
    .connection-info {
      width: 100%;
      border-top: None;
      margin-bottom: 20px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .fa-rotate-180 {
        $degree: 180deg;
        -webkit-transform: rotate($degree);
        -moz-transform: rotate($degree);
        -ms-transform: rotate($degree);
        -o-transform: rotate($degree);
        transform: rotate($degree);
      }
      .panel-body {
        width: 100%;
      }
      .panel-footer {
        text-align: center;
        color: #214321;
        background-color: $success-green;
        border-color: #d6e9c6;
      }
    }

  }
}

#ConnectionForm {
  a {
    cursor: pointer;
  }
  input, .identity_picker {
    margin-bottom: 10px;
  }
  .cert_upload {
    margin-bottom: 10px;
  }
}


